#header {
    background-image: url(DPimage/sonyOIP.jpg);
    background-size: contain;
    padding: 20px 10px;
    color: darkgrey;
    height: 50px;
}
img{
    align-items: center;
    max-width: 100%;
    height: auto;
}
body {
    background-image: url("DPimage/sonybackground.jfif");
    display:flow-root;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#th, td{
    border: 2px solid;
    border-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    border-style:outset;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    border-width: 5px;

}
#tr{
    border-color: rgb(255, 255, 255, 50);
}
#chat{
    color: greenyellow;
    background-color: black;
}
#response {
    margin-top: 10px;
    color: greenyellow;
    background-color: black;
    width: 200px;
}
#userInput{
    color: greenyellow;
    background-color: black;
}
table{
    width: 100%;
    height: max-content;
    font-size: x-large;
}
#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#whiteButton, #blackButton {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-weight: bold;
    border-radius: 12px;  /* Rounded corners */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);  /* Shadow effect */
}

#whiteButton {
    background-color: white;
    color: black;
}


#blackButton {
    background-color: black;
    color: white;
}
#checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.6);
}

#checkbutton {
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

#checkbutton:hover {
    background-color: #3e8e41;
    color: white;
}

#cost {
    color: #fff;
    text-shadow: 0 0 7px #931111, 0 0 10px #6d0a0a, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
    font-size: 24px; 
}